.welcomeSign {
    
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 15%;
    height: 3%;
    border-color: rgb(219, 10, 10);
}

.welcomeSignContainer {
    padding-top: 3%;
    padding-bottom: 5%;
}

.my-component {
    background-color: #E2E5D3;
}